.hero-bg {
  background: linear-gradient(100.27deg, rgba(0, 0, 0, 0.2) 19.59%, rgba(0, 0, 0, 0) 88.14%), #0E192F;
  h1 {
    line-height: 1.2em;
  }
}

.header-gradient {
  background: linear-gradient(264.21deg, #089CFC 23.13%, #2B2DFD 122.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


