.byron-logo {
  align-items: center;
  display: flex;
  height: 64px;

  & > svg {
    height: 64px;
  }
}

.bl-text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 16px;
}

.bl-byron {
  margin-right: 4px;
  font-weight: 500;
}

.bl-network {
  font-weight: 700;
}